* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

.parent {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 {
    grid-area: 1 / 1 / 2 / 3;
    background-color: white;
}

.div2 {
    grid-area: 1 / 3 / 2 / 5;
    background-color: black;
}

.div3 {
    grid-area: 1 / 5 / 2 / 6;
    background-color: white;
}

.div4 {
    grid-area: 1 / 6 / 2 / 8;
    background-color: black;
}

.div5 {
    grid-area: 1 / 8 / 2 / 9;
    background-color: white;
}

.div6 {
    grid-area: 1 / 9 / 2 / 10;
    background-color: white;
}

.div7 {
    grid-area: 2 / 1 / 3 / 2;
    background-color: white;
}

.div8 {
    grid-area: 2 / 2 / 3 / 3;
    background-color: black;
}

.div9 {
    grid-area: 2 / 3 / 3 / 5;
    background-color: red;
}

.div10 {
    grid-area: 2 / 5 / 3 / 6;
    background-color: black;
}

.div11 {
    grid-area: 2 / 6 / 3 / 8;
    background-color: red;
}

.div12 {
    grid-area: 2 / 8 / 3 / 9;
    background-color: black;
}

.div13 {
    grid-area: 2 / 9 / 3 / 10;
    background-color: white;
}

.div14 {
    grid-area: 3 / 1 / 4 / 2;
    background-color: black;
}

.div15 {
    grid-area: 3 / 2 / 4 / 3;
    background-color: red;
}

.div16 {
    grid-area: 3 / 3 / 4 / 4;
    background-color: white;
}

.div17 {
    grid-area: 3 / 4 / 4 / 9;
    background-color: red;
}

.div18 {
    grid-area: 3 / 9 / 4 / 10;
    background-color: black;
}

.div19 {
    grid-area: 4 / 1 / 5 / 2;
    background-color: black;
}

.div20 {
    grid-area: 4 / 2 / 5 / 9;
    background-color: red;
}

.div21 {
    grid-area: 4 / 9 / 5 / 10;
    background-color: black;
}

.div22 {
    grid-area: 5 / 1 / 6 / 2;
    background-color: black;
}

.div23 {
    grid-area: 5 / 2 / 6 / 9;
    background-color: red;
}

.div24 {
    grid-area: 5 / 9 / 6 / 10;
    background-color: black;
}

.div25 {
    grid-area: 6 / 1 / 7 / 2;
    background-color: white;
}

.div26 {
    grid-area: 6 / 2 / 7 / 3;
    background-color: black;
}

.div27 {
    grid-area: 6 / 3 / 7 / 8;
    background-color: white;
}

.div28 {
    grid-area: 6 / 8 / 7 / 9;
}

.div29 {
    grid-area: 6 / 9 / 7 / 10;
}

.div30 {
    grid-area: 7 / 1 / 8 / 3;
}

.div31 {
    grid-area: 7 / 3 / 8 / 4;
}

.div32 {
    grid-area: 7 / 4 / 8 / 7;
}

.div33 {
    grid-area: 7 / 7 / 8 / 8;
}

.div34 {
    grid-area: 7 / 8 / 8 / 10;
}

.div35 {
    grid-area: 8 / 1 / 9 / 4;
}

.div36 {
    grid-area: 8 / 4 / 9 / 5;
}

.div37 {
    grid-area: 8 / 5 / 9 / 6;
}

.div38 {
    grid-area: 8 / 6 / 9 / 7;
}

.div39 {
    grid-area: 8 / 7 / 9 / 10;
}

.div40 {
    grid-area: 9 / 1 / 10 / 5;
}

.div41 {
    grid-area: 9 / 5 / 10 / 6;
}

.div42 {
    grid-area: 9 / 6 / 10 / 10;
}