body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.border{
    width:800px;
    border: 2px solid blue;
    margin:2% 5%;
    padding:1%;
}

hr{
    height: 2px;
    background-color:black;
}

input{
    border-color:blue;
}

#btn1,#btn2{
    color:blue;    
}